## Evaluation Metrics

In [26]:
import pandas as pd
import numpy as  np
import matplotlib.pyplot as plt
import seaborn as sb
from sklearn import linear_model
from sklearn.metrics import max_error
from sklearn.metrics import mean_absolute_error, mean_squared_error, median_absolute_error, mean_squared_log_error, r2_score

In [3]:
data = {
    'mesin' : [1000, 2000, 3000, 4000, 5000],
    'harga' : [10, 25, 35, 55, 80]
}
df = pd.DataFrame(data)
df

   mesin  harga
0   1000     10
1   2000     25
2   3000     35
3   4000     55
4   5000     80

In [10]:
model = linear_model.LinearRegression()
model.fit(df[['mesin']],df['harga'])
# plt.plot(df['mesin'],df['harga'],'ro-')
df['hargaPrediksi'] = model.predict(df[['mesin']])
df

   mesin  harga  hargaPrediksi
0   1000     10            7.0
1   2000     25           24.0
2   3000     35           41.0
3   4000     55           58.0
4   5000     80           75.0

In [9]:
# from sklearn.metrics import max_error
max_error(df['harga'],df['hargaPrediksi'])

6.0

In [27]:
# from sklearn.metrics import mean_absolute_error, mean_squared_error, median_absolute_error, mean_squared_log_error, r2_score

print("MAE:",round(mean_absolute_error(df['harga'],df['hargaPrediksi']),2))
print("MSE:",round(mean_squared_error(df['harga'],df['hargaPrediksi']),2))
print("RMSE:",np.sqrt(round(mean_squared_error(df['harga'],df['hargaPrediksi']),2)))
print("MedAe:",round(median_absolute_error(df['harga'],df['hargaPrediksi']),2))
print("MSLE:",round(mean_squared_log_error(df['harga'],df['hargaPrediksi']),2))
print("RMSLE:",np.sqrt(round(mean_squared_log_error(df['harga'],df['hargaPrediksi']),2)))
print("R2 Score:",round(r2_score(df['harga'],df['hargaPrediksi']),2))

MAE: 3.6
MSE: 16.0
RMSE: 4.0
MedAe: 3.0
MSLE: 0.03
RMSLE: 0.17320508075688773
R2 Score: 0.97