In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

data = {
    'mesin x': [1000, 2000, 3000, 4000, 5000],
    'harga y': [10, 25, 35, 55, 80]
}
df = pd.DataFrame(data)
df

   mesin x  harga y
0     1000       10
1     2000       25
2     3000       35
3     4000       55
4     5000       80

In [2]:
df['x^2'] = df['mesin x'] ** 2
df['y^2'] = df['harga y'] ** 2
df['xy']  = df['mesin x'] * df['harga y']
df

   mesin x  harga y       x^2   y^2      xy
0     1000       10   1000000   100   10000
1     2000       25   4000000   625   50000
2     3000       35   9000000  1225  105000
3     4000       55  16000000  3025  220000
4     5000       80  25000000  6400  400000

## Linear Regression

Gradient/slope:    $\displaystyle m = \frac {n(\sum xy) - (\sum x)(\sum y)} {n(\sum x^2) - (\sum x)^2}$

In [3]:
m = ((df['xy'].count() * df['xy'].sum()) - (df['mesin x'].sum() * df['harga y'].sum())) / ((df['xy'].count() * df['x^2'].sum()) - (df['mesin x'].sum() ** 2))
m

0.017

Intercept: $\displaystyle c = \frac {(\sum y) (\sum x^2) - (\sum x)(\sum xy)} {n(\sum x^2) - (\sum x)^2}$

In [4]:
c = ((df['harga y'].sum() * df['x^2'].sum())-(df['mesin x'].sum() * df['xy'].sum())) / ((df['mesin x'].count() * df['x^2'].sum()) - (df['mesin x'].sum() ** 2))
c

-10.0

Prediction: $\displaystyle \hat{y} = mx + c$

In [6]:
df['ùë¶ÃÇ'] = m * df['mesin x'] + c
df

   mesin x  harga y       x^2   y^2      xy    ùë¶ÃÇ
0     1000       10   1000000   100   10000   7.0
1     2000       25   4000000   625   50000  24.0
2     3000       35   9000000  1225  105000  41.0
3     4000       55  16000000  3025  220000  58.0
4     5000       80  25000000  6400  400000  75.0